@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header, .main-1 {
    background-color: #1F2937;
    color: white;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_links ul{
    display: flex;
    gap: 16px;
}

.header {
    padding: 16px;
}

.heading-main-1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.main-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}